@import "partials/reset";
@import "partials/variables";
@import "partials/misc";

body, input, select, label{
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400;
}

.wrapper{
  margin-top: 20px;
}

a{
  color: #000;
}

@import "modules/address";
@import "modules/search";
