@import "../partials/variables";

.container{
  width: 450px;
  margin: 0 auto;
}

.title{
  font-size: 20px;
  margin: 20px 0;
}

.title-small{
  font-size: 12px;
  margin: 10px 0 15px 20px;
}

.btn-close{
  color: $color-grey-light;
  cursor: pointer;
}

.error{
  font-size: 14px;
  font-weight: bold;
  color: #cc3300;
  margin: 10px 0 0 25px;
}
