@import "../partials/variables";

.address-wrapper{
	border: 1px solid $color-grey-light;
	padding: 25px;
	margin-top: 10px;
	position: relative;

	.title-address{
	    font-size: 20px;
    	padding: 0 0 10px 0;
	}

	.address-bairro{
		margin: 10px 0;
	}

	iframe{
		margin-top: 20px;
	}
	.btn-close{
		position: absolute;
		right: 25px;
	}
}