@import "../partials/variables";

.search-form{
  display: block;
  background: #efefef;
  padding: 15px 0 25px 0;
  
  label{
    color: $color-grey-dark;
    margin: 0 20px 0 20px;
  }

  input{
    width: 100px;
    color: $color-grey;
    border: 1px solid $color-grey-light;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
  }

  .btn{
    background-color: $color-primary;
    color: #fff;
    font-weight: bold;
    border: 0;
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
  
}
